[user]
	email = {{ .email }}
	name = {{ .name }}
[alias]
	s = status
	a = add
	c = commit
	co = checkout
	sw = switch
	b = branch
	df = diff
	ps = push
	pl = pull
	lo = log --oneline
	r = restore
	sync-u = "!branch=$(git branch --show-current) && git fetch upstream && git merge upstream/$branch && git push"
[init]
	defaultBranch = main
[push]
	default = current
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
[pager]
	branch = false
{{ if eq .chezmoi.os "windows" -}}
[core]
	autoCRLF = false
	eol = lf
	symlinks = true
{{ end -}}
